<form class="well container" ng-submit="vm.createCat()">
	<div class="well">
		<label >Name</label>
		<input class="form-control" ng-model="vm.cat.name" placeholder="Name...">
	</div>
	<div class="well">
		<label >Image</label>
		<input class="form-control" ng-model="vm.cat.image" placeholder="Image...">
	</div>
	<div class="well">
		<label >Color</label>
		<input class="form-control" ng-model="vm.cat.color" placeholder="Color...">
	</div>
	<div style="text-align: center">
		<button type="submit" class="btn btn-lg btn-success">Submit</button>
	</div>
</form>